.header__logo:after {
  display: none;
}

/*.header .menu-trigger {
    color: var(--accent);
    border: 4px solid;
    margin-left: 285px;
    height: 100%;
    padding: 4px 5px;
    position: relative;
    margin-top: -40px;
}*/
