.header__logo:after {
    display:none;
}


/*.post {
    text-align: justify;
    margin: 20px auto;
    padding: 20px 0;
}*/

.header .menu-trigger {
    color: #23b0ff;
    color: var(--accent);
    border: 4px solid;
    margin-left: 285px;
    height: 100%;
    padding: 4px 5px;
    position: relative;
    margin-top: -40px;
}
