body {
  color: #d8dee9;
  background-color: #2e3440;
  font-family: "Share Tech Mono", Monospace, Courier;
  letter-spacing: 0.1px;
  font-weight: 400;
}

:root {
  --phoneWidth: (max-width: 684px);
  --tabletWidth: (max-width: 900px);
  --accent: #8fbcbb;
  --background: #1d212c;
  --color: #d8dee9;
  --border-color: hsla(0, 0%, 100%, 0.1);
}

.in-post-cover {
  background: 0 0;
  margin: 0 0;
  border: 4px solid #8fbcbb;
  padding: 0;
  object-fit: cover;
  opacity: 100%;
  /*height: 250px;
  width: 100%;*/
}

.post-cover {
  background: 0 0;
  margin: 0 0;
  border: 4px solid #8fbcbb;
  padding: 0;
  object-fit: cover;
  opacity: 90%;
  height: 250px;
  width: 100%;
}

/*.post {
  text-align: justify;
    word-spacing:-2px;
    text-justify: inter-word;
    margin: 20px auto;
    word-break: break-all;
    padding: 20px 0;
}*/

a:-webkit-any-link {
  cursor: pointer;
  text-decoration: none;
}

a {
  text-decoration: none;
}

.post a:link {
  color: #8fbcbb;
}

.post a:visited {
  color: #8fbcbb;
}

.post a:hover {
  color: #8fbcbb;
}

.post-title a:link {
  color: #eceff4;
  font-size: Futura;
}

.post-title a:visited {
  color: #d8dee9;
}

.post-tags a:link {
  color: #eceff4;
}

.post-tags a:visited {
  color: #d8dee9;
}

.button__text,
.button a {
  color: #eceff4;
}

.button__text,
.button a:visited {
  color: #d8dee9;
}

.headings--one-size h1,
.headings--one-size h2,
.headings--one-size h3,
.headings--one-size h4,
.headings--one-size h5,
.headings--one-size h6 {
  font-family: "Share Tech Mono", Monospace, Courier;
}

.post-tags {
  display: block;
  margin-bottom: 10px;
  font-size: 1rem;
  opacity: 0.5;
  margin-top: 10px;
}

.post-meta {
  font-size: 0.6rem;
  margin-bottom: 10px;
  margin-top: 10px;
  color: #d8dee9;
}

.logo {
  display: flex;
  align-items: center;
  text-decoration: none;
  background: #2e3440;
  color: #eceff4;
  font-family: "Fira Code";
  opacity: 25%;
}

.header__logo {
  display: flex;
  flex: 1;
  justify-content: space-evenly;
}

.header__logo:after {
  display: none;
}

.header__inner {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

/*.header .menu-trigger {
    color: var(--accent);
    border: 2px solid;
    margin-left: 285px;
    height: 100%;
    padding: 4px 5px;
    position: relative;
    margin-top: -30px;
}*/

.post-title,
.post-title:after {
  border: 0;
  border-bottom: 1px dotted;
  border-image: linear-gradient(to right, #8fbcbb, #2e3440);
  border-image-slice: 1;
  color: #2e3440;
  margin: auto;
  text-decoration: none;
}

.header {
  display: flex;
  position: relative;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
  align-items: baseline;
}

.collapsable-code__language,
.collapsable-code__title {
  color: #8fbcbb;
  padding: 3px 10px;
}

.collapsable-code__toggle {
  color: #8fbcbb;
  font-size: 16px;
  padding: 3px 10px;
}

.collapsable-code__language {
  border: 1px solid hsla(0, 0%, 100%, 0.1);
  border: 1px solid #8fbcbb;
  border-bottom: none;
  text-transform: uppercase;
}

.code-toolbar {
  position: relative;
  margin: 40px 0;
  margin: var(--code-margin) 0;
  padding: 20px;
  border: 1px solid #8fbcbb;
}

blockquote {
  border-top: 1px solid #8fbcbb;
  border-bottom: 1px solid #8fbcbb;
  margin: 40px 0;
  padding: 25px;
}

th {
  color: #8fbcbb;
}

table,
td,
th {
  border: 1px dashed #8fbcbb;
  padding: 10px;
}

code,
kbd {
  font-family: Fira Code, Monaco, Consolas, Ubuntu Mono, monospace;
  font-feature-settings: normal;
  background: #8fbcbb36;
  color: #8fbcbb;
  padding: 1px 6px;
  margin: 0 2px;
  font-size: 0.95rem;
}

.pagination__title-h {
  margin: 0 auto;
  padding: 5px 10px;
  background: #2e3440;
  font-size: 0.8rem;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.1em;
  z-index: 1;
}

.pagination__title {
  display: flex;
  position: relative;
  margin: 50px 0 10px;
}

.post ul li:not(:empty):before {
  content: "-";
  position: absolute;
  left: -20px;
  color: #8fbcbb;
}

blockquote p:first-of-type:before {
  content: ">";
  display: block;
  position: absolute;
  left: -25px;
  color: #8fbcbb;
}

::marker {
  color: #2e3440;
}

.collapsable-code label {
  position: relative;
  display: flex;
  justify-content: space-between;
  min-width: 30px;
  min-height: 30px;
  margin: 0;
  border-bottom: 1px solid hsla(0, 0%, 100%, 0.1);
  border-bottom: 0px solid #8fbcbb;
  cursor: pointer;
}

ol li:before {
  content: counter(li);
  position: absolute;
  right: calc(100% + 10px);
  color: #8fbcbb;
  display: inline-block;
  text-align: right;
}

.header .menu-trigger {
  color: var(--accent);
  border: 0px solid;
  height: 100%;
  padding: 0px 0px;
  position: absolute;
  margin-left: 90%;
}

@media (max-width: 684px) {
  .header .menu {
    position: absolute;
    background: rgb(29, 33, 44);
    background: #3b4252;
    box-shadow: var(--shadow);
    color: #8fbcbb;
    border: 1px solid;
    margin: -15px 5px 0px 0px;
    padding: 0px 0px 0px 0px;
    list-style: none;
    z-index: 99;
    /* top: 50px; */
    /* right: 0; */
    --shadow-color: rgba(29, 33, 44, 0.8);
    --shadow: 0 0px var(--shadow-color), 0px 0px var(--shadow-color),
      0px 0px var(--shadow-color);
  }
}

.header .menu__inner {
  display: flex;
  list-style: none;
  margin: 0px 0px -10px 0px;
  justify-content: space-between;
  flex-direction: row;
  opacity: 60%;
  font-size: 10px;
  flex-wrap: wrap;
}

.header .menu__inner--mobile {
  display: none;
}

#button {
  display: inline-block;
  background-color: #2e3440;
  width: 50px;
  height: 30px;
  text-align: center;
  border-radius: 2px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color 0.3s, opacity 0.5s, visibility 0.5s;
  z-index: 1000;
  border: 0.1em solid #8fbcbb;
  scroll-behavior: smooth;
  opacity: 30%;
}

#button::after {
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
  line-height: 50px;
  color: #fff;
}
#button:hover {
  cursor: pointer;
  background-color: #3b4252;
}
#button:active {
  background-color: #555;
}
#button.show {
  opacity: 1;
  visibility: visible;
}

@media screen and (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}
